# Ignore Dist
dist/
# Ignore build
build/
# Ignore pytest cache
.pytest_cache/
# Ignore python cache
__pycache__/
# Ignore .DS_Store
.DS_Store
# Ignore .venv
.venv/
# Ignore .mypy_cache
.mypy_cache/
# Ignore todo
todo
# Ingore .env
.env